{% extends "layout.j2" %}
{% block title %}
<title>HOME</title>
{% endblock%}
{% block content %}

{% for k, v in data.items() %}
<div style="background-color:{% if not v.failed%}green{% else %}red {% endif %};"><a href="/{{k}}">Version {{k}}</a></div>
<div>Platforms: {{v.platforms}}</div>
<div>Total: {{v.total}}</div>
<div>Failed: {{v.failed}}</div>
{% endfor %}

{% endblock %}
