{% extends "layout.j2" %}
{% block title %}
<title>Test log for {{platform}}</title>
{% endblock%}
{% block content %}

<p>Test = {{test}}</p>
<p>Platform = {{platform}}</p>
<p>Total Tests = {{data.sr_test_cases}}</p>
<p>Failed = {{data.sr_tests_failed}}</p>
<p>Scenarios: </p>
{% for t in data.sr_tap %}
<pre style="color:{{t[0]}};">
{{t[1]|safe}}
</pre>
{% endfor %}

{% endblock %}
