{% extends "layout.j2" %}
{% block title %}
<title>Results for {{ver}}</title>
{% endblock%}

{% block content %}

<table style="width:100%">
  <tr style="text-align:left;">
    <th>Test</th>
    {% for p in platforms %}
    <th>{{p}}</th>
    {% endfor %}
  </tr>
{% for k, v in data.items() %}
  <tr>
    <td style="color:green;  {% for p in platforms %}  {% if v[p].sr_tests_failed %}  color:red; {% endif %}  {% endfor %}">{{v.sr_test_name}}</td>
    {% for p in platforms %}
    <td style="background-color:{% if not v[p].sr_tests_failed %}green{% else %}red{% endif %};"><a href="{{ver}}/{{k}}/{{p}}">{{v[p].sr_tests_failed}}/{{v[p].sr_test_cases}}</a></td>
    {% endfor %}
  </tr>
{% endfor %}

{% endblock %}
